#calendars {
}
    #calendars > .month {
        display: inline-block;
        margin: 1em;
    }

table {
    border-collapse: collapse;
}

    td,
    th {
        border: 1px solid black;
        padding: 3px;
        text-align: center;
        width: 3em;
        height: 3em;
    }

    th {
        font-weight: bold;
        background-color: #E6E6E6;
    }
